<main aria-label="Main content">
  <h1>Sing up for email updates</h1>
  <ng-container *ngIf="!successMessage">
    <p>*Indicates Required Field</p>
    <form class="form-container"
          [formGroup]="form"
          (ngSubmit)="submitForm()"
          (reset)="resetForm()">
      <input-field label="FIRST NAME"
                   class="form-field"
                   [isRequired]="true"
                   elementId="firstNameField"
                   [control]="getControl('firstName')"></input-field>
      <input-field label="LAST NAME"
                   class="form-field"
                   [isRequired]="true"
                   elementId="lastNameField"
                   [control]="getControl('lastName')"></input-field>
      <input-field label="EMAIL ADDRESS"
                   class="form-field"
                   [isRequired]="true"
                   elementId="emailField"
                   [control]="getControl('email')"
                   fieldType="email"></input-field>
      <input-field label="ORGANIZATION"
                   class="form-field"
                   elementId="orgField"
                   [control]="getControl('org')"></input-field>
      <select-field label="EU RESIDENT"
                    class="form-field"
                    [isRequired]="true"
                    [options]="$residentOptions"
                    elementId="euResidentField"
                    [control]="getControl('euResident')"></select-field>
      <div class="chekcbox-list">
        <checkbox-field label="ADVANCES"
                        class="form-field"
                        [isRequired]="true"
                        elementId="advancesField"
                        [control]="getControl('advances')"></checkbox-field>
        <checkbox-field label="ALERTS"
                        class="form-field"
                        elementId="alertsField"
                        [control]="getControl('alerts')"></checkbox-field>
        <checkbox-field label="OTHER COMMUNICATIONS"
                        elementId="otherField"
                        class="form-field"
                        [control]="getControl('other')"></checkbox-field>
      </div>
      <div class="buttons-list">
        <button class="btn submit"
                type="submit"
                [disabled]="loading"
                aria-label="Submit">Submit</button>
        <button class="btn"
                [disabled]="loading"
                type="reset"
                aria-label="Reset">Reset</button>
      </div>
    </form>
  </ng-container>
  <ng-container *ngIf="successMessage">
    <div class="backend-message">
      <p>{{successMessage}}</p>
    </div>
  </ng-container>

  <ng-container *ngIf="errorMessage && !successMessage">
    <div class="backend-message-error">
      <p>{{errorMessage}}</p>
    </div>
  </ng-container>
</main>
